# Copy into .env to test against different HA, Frigate, and Frigate Integration versions.
# optionally preconfigure both HA and integration, or just HA...
# defaults are set in docker-compose.yml
# HA_VERSION=2026.9.2
# HA_PRECONFIG=true
# FN_PRECONFIG=true
# FRIGATE_VERSION=0.18.0
# FRIGATE_INTEG_VERSION=v5.15.6
