# Copy into .env to test against different HA, Frigate, and Frigate Integration versions.
# optionally preconfigure both HA and integration, or just HA...
# defaults are set in docker-compose.yml
# HA_VERSION=2026.4.1
# HA_PRECONFIG=true
# FN_PRECONFIG=true
# FRIGATE_VERSION=0.17.1
# FRIGATE_INTEG_VERSION=v5.15.2
